.navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 40, 95, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
    color: transparent;
    border-color: transparent;
}

.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:active, .navbar-collapse{
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-border-radius: 0;
    --bs-navbar-toggler-focus-width: 0;
    color: transparent;
    border-color: transparent;
   }

.main-nav{
    min-height: 70px;
}

.nav-logo-text, .nav-logo-text:hover{
    color: #00285F;
    font-size: 24px;
    margin-left: 20px;
}

.main-menu{
    display: flex;
    font-size: 18px;
    width: 170px;
    justify-content: space-between;
}

.main-menu a{
    color:#00285F;
}

.main-menu a:hover{
    color:#00285F;
}

.main-menu a.active{
    color:#00285F;
    font-weight: bold;
}
