.home-container {
  padding: 20px 10px;
  background-color: #ffffff;
  text-align: center;
  justify-content: center;
}

/* Banner */
.home-card {
  display: flex;
  flex-direction: column;
  color: #fff;
  background: #00285f;
  border-radius: 10px;
  padding: 62px 20px 35px 20px;
  height: 365px;
}

.home-image-container svg {
  height: 146px;
  width: 244px;
}

.home-content-container {
  margin-top: 35px;
}
.home-content-container h1 {
  font-size: 22px;
}

.home-content-container p {
  margin-top: 13px;
  font-size: 14px;
}

.home-cta-navigation {
  margin-top: 20px;
  padding: 28px 0px 0px 0px;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 123px;
}

.home-cta-txt p {
  font-size: 18px;
  color: #585858;
  margin-top: 9px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Banner */
  .home-card {
    border-radius: 10px;
    padding: 22px 49px 41px 49px;
    height: 365px;
    width: 536px;
  }

  .home-image-container svg {
    width: 333px;
    height: 199px;
  }

  .home-content-container {
    margin-top: 19px;
  }
  .home-content-container h1 {
    font-size: 36px;
    font-weight: 700;
  }

  .home-content-container p {
    margin-top: 3px;
    font-size: 18px;
  }

  /* CTA */
  .home-cta-navigation {
    margin-top: 20px;
    padding: 42px 62px 41px 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 123px;
    width: 536px;
  }

  .home-cta-txt p {
    margin-top: 9px;
    margin-left: 16px;
  }
}

@media (min-width: 768px) {
  .home-container {
    padding: 30px 20px;
  }

  /* Banner */
  .home-card {
    padding: 79px 145px 76px 145px;
    height: 475px;
    width: 728px;
  }

  .home-image-container svg {
    width: 333px;
    height: 199px;
  }

  .home-content-container {
    margin-top: 37px;
  }
  .home-content-container h1 {
    font-size: 36px;
    font-weight: 700;
  }

  .home-content-container p {
    margin-top: 3px;
  }

  /* CTA */
  .home-cta-navigation {
    margin-top: 20px;
    padding: 42px 62px 41px 85px;
    border-radius: 10px;
    height: 123px;
    width: 728px;
  }

  .home-cta-txt p {
    margin-top: 15px;
    margin-left: 16px;
  }
}

@media (min-width: 992px) {
  .home-container {
    padding: 30px 20px;
  }

  /* Banner */
  .home-card {
    padding: 82px 249px 124px 248px;
    height: 579px;
    width: 952px;
  }

  .home-image-container svg {
    width: 455px;
    height: 272px;
  }

  .home-content-container {
    margin-top: 37px;
  }
  .home-content-container h1 {
    font-size: 36px;
    font-weight: 700;
  }

  .home-content-container p {
    margin-top: 3px;
  }

  /* CTA */
  .home-cta-navigation {
    margin-top: 20px;
    padding: 42px 62px 41px 85px;
    background-color: #ededed;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    height: 123px;
    width: 952px;
  }

  .home-cta-txt p {
    margin-top: 15px;
    margin-left: 16px;
  }
}

@media (min-width: 1280px) {
  .home-container {
    padding-top: 30px;
    padding-bottom: calc(100vh - 618px);
    height: calc(80vh + 70px);
  }

  /* Banner */
  .home-card {
    padding: 83px 78px 83px 85px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 365px;
    width: 979px;
  }

  .home-image-container svg {
    width: 333px;
    height: 199px;
    margin-left: 63px;
  }

  .home-content-container {
    margin-top: 0px;
  }
  .home-content-container h1 {
    font-size: 36px;
    font-weight: 700;
  }

  .home-content-container p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
  }

  /* CTA */
  .home-cta-navigation {
    margin-top: 30px;
    padding: 42px 505px 41px 85px;
    height: 123px;
    min-width: 979px;
  }
}
