.btn-home-catalog, .btn-home-catalog:hover, .btn-home-catalog.active, .btn-home-catalog.disable {
    background-color: #00285F;
    border: 1px solid #00285F;
    color: #FFFFFF;
    border-radius: 5px;
    height: 40px;
    width: 170px;
    font-size: 14px;
    font-weight: 700;
    align-content: center;
  }
  
  .btn-home-catalog p{
    margin-bottom: 0px;
  }